<app-header></app-header>
<div class="container">
  <div *ngIf="!showAdGraph" style="position:relative;z-index:9999" align="center">
    <mat-spinner></mat-spinner>
    <p style="font-size:12px; color:#000;">Loading Graph...</p>
  </div>
  <div class="" *ngIf="showAdGraph" align="center">
    <mat-divider></mat-divider>
    <p style="font-size:12px; font-weight:400">{{title}}</p>
    <mat-divider></mat-divider>
    <google-chart #chart [type]="type" [data]="data" [columnNames]="columnNames" [options]="options"
      style="width:100%; height:300px; font-size:12px" (click)="showGraph()">
    </google-chart>
  </div>
  <div class="" align="center" *ngIf="showAdGraph">
    <mat-divider></mat-divider>
    <p style="font-size:12px; font-weight:400">{{title1}}</p>
    <mat-divider></mat-divider>
    <google-chart #chart1 [type]="type1" [data]="data1" [columnNames]="columnNames1" [options]="options1"
      style="width:100%; height:300px;" (click)="showGraph()">
    </google-chart>
  </div>
</div>