<app-header></app-header>
<div class="container">
  <div class="row">
    <br>
    <p align="center">Graph for FAN degredation</p>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#train">Train Graph</a></li>
        <li><a data-toggle="tab" href="#test">Test Graph</a></li>
        <li><a data-toggle="tab" href="#var">Variable Inportance Graph</a></li>
        <li><a data-toggle="tab" href="#performance">Performance Graph</a></li>
      </ul>
      <br><br>
      <div class="tab-content" align="left">
        <div id="train" class="tab-pane fade in active">
          <p align="center">Predicted Rul vs Actual RUL using Training Dataset for all units</p>
          <canvas height="250" id="fanTrainCanvas"></canvas>
          <br><br>
          <p align="center">Predicted Rul vs Actual RUL using Training Dataset for Unit 1</p>
          <canvas height="200" id="fanTrainCanvas1"></canvas>
        </div>
        <div id="test" class="tab-pane fade">
          <p align="center">Predicted Rul vs Actual RUL using unseen Test Dataset for all units</p>
          <canvas height="150" id="fanTestCanvas"></canvas>
        </div>
        <div id="var" class="tab-pane fade ">
          <p align="center">GBM Model Variable Importance Score</p>
          <canvas id="fanGbmCanvas" height="100" baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels"
            [options]="chartOptions" [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
          </canvas>
          <hr>
          <br>
          <p align="center">Random Forest Model Variable Importance Score</p>
          <canvas id="fanDrfCanvas" height="100" baseChart [chartType]="'bar'" [datasets]="drfData" [labels]="drfLabels"
            [options]="drfOptions" [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
          </canvas>
        </div>
        <div id="performance" class="tab-pane fade ">
          <p align="center">GBM Model Performance</p>
          <br>
          <canvas height="80" id="fanGbm"></canvas>
          <hr>
          <br>
          <p align="center">Random Forest Model Performance</p><br>
          <canvas height="100" id="fanDrf"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>