<div class="container">
  <div class="row header">
    <div class="col-md-6">
      <img src="./assets/images/Mycelion_white_logo.png" width="100px " height="80px">&nbsp; &nbsp;
      <span class="title">{{title}}<sup>TM</sup> -</span>&nbsp;
      <span class="title1">{{title1}}
      </span>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <a style="cursor: pointer;">
            <span class="glyphicon glyphicon-print title"></span>
          </a>
        </div>
        <div class="col-md-2">
          <a style="cursor: pointer;">
            <span class="	glyphicon glyphicon-envelope title"></span>
          </a>
        </div>
        <div class="col-md-2">
          <button class="btn btn-warning" (click)="logout()">Log out</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row leftPanelTop">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">

    </div>
  </div>

</div>