.container{
    width: 100%;
}

.header{
    background: #062430;
    color:#fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title{
    font-size: 20px;
    color: #fff;
    margin-left:-30px;
}

.title1{
    font-size: 20px;
    color: #FF6600;
}
a {
    color: #fff;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    color:#000;
    font-size:20px;
}

.leftPanelTop{
    background: #009999;
    color: #fff;
    text-decoration: none;
    text-align: center;
}