<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 logoArea">
          <img src="./assets/images/mycelion.png" style="height:150px; width:150px;">&nbsp;&nbsp;
          <span class="title">{{title}} <sup>TM</sup> - </span>&nbsp;
          <span class="title1">{{title1}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 loginArea">
          <br>
          <p *ngIf="showErrorMessage" align="center" class="text-danger">{{errorMessage}}</p>
          <div>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginInput.username">
            <br>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginInput.password">
            <br>
            <input type="submit" class="btn btn-primary form-control" (click)="signIn()" value="Sign In">
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>