.container{
    width: 100%;
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url('../../assets/images/loginBackgrou.png');
}

.loginArea{
    margin-top: 50%;
    background: url('../../assets/images/Loginarea_Background.png');
}

.logoArea{
    margin-top: 28%;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:22px;
    font-weight: 400;
    color: #fff;
    margin-left:-40px;
}

.title1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:22px;
    font-weight: 400;
    color: #FF6600;
}