/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #26a69a;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #26a69a;
}
.mat-tab-label-active .mat-tab-label-content {
    color: #000 !important;
}

.mat-tooltip {
    
    background-color: #009999;
    color:#fff;
    opacity: 0.6;
   
}