.container {
    width: 100%;
    background:  #fff;
}

ul li {
    position: relative;
    left:-30px;
    list-style-type: none;
    height: 30px;
    vertical-align: center;
}

.listHeader {
    position: absolute;
    width: 100%;
    padding: 0;
    background:#009999;
    color: #fff;
    margin-top:10px;
    text-align: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}


.listBody{
    height: 60px;
    width: 100%;
    color: #000;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    font-size: 10px;
    padding-top:10px;
    word-break: break-all;
    margin-bottom:5px;
}

.card{
    background: #fff;
    width: 100%;
}

.showPredictedData{
    height: 450px;
    line-height: 500px;
    margin:0;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
}

.showAdDataColumn {
    height: 330px;
    width:100%;
    overflow: auto;
    overflow-x: hidden;
}

.analyticsType {
    padding-top: 10px;
    padding-left:20px;
}
.btnType {
    margin-right: 20px;
    width:200px;
    height:30px;
    color:#fff;
    font-weight:700;
}

.adButton {
    height:30px;
    margin-top:5px;
    width: 170px;
    background: #ff3d00;
    color:#fff;
}

tr td {
    height:30px;
    font-size:10px;
}

.table-head {
    height:50px;
    font-size:14px;
    border-bottom:1px solid #000;
    font-weight:700;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
	width: 100%;
    margin: 0 auto;
    margin-top:5px;
    position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 400;
  font-size: 14px;
  display: block;
  float: left;
  width: 25%;
  padding:10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: rgb(110,152,227);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #000;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  color:#000;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}