<app-header></app-header>
<div class="tab_container">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1"><i class="fa fa-code"></i><span>RUL ESTIMATION</span></label>
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><i class="fa fa-pencil-square-o"></i><span>ANOMALY DETECTION</span></label>
  <section id="content1" class="tab-content">
    <div class="row" style="margin-top:-20px">
      <div class="col-md-2 leftPanel">
        <div class="row">
          <ul>
            <li class="listHeader">Analytics Type</li>
            <li class="listBody">
              Remaining Useful Life Estimation
            </li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li class="listHeader">Asset Type</li>
            <li class="listBody">Jet Engine</li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li class="listHeader">Data Characteristics</li>
            <li class="listBody">6 Different Flight Conditions</li>
            <li class="listBody">100 Trajectories</li>
            <li class="listBody">26000+ data points </li>
            <li class="listBody">21 Sensor Input</li>
            <li class="listBody">3 Operating modes</li>
            <li class="listBody">Fault modes, HPC & Fan Degredation</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" align="center">
          <ul>
            <li class="listHeader">Model Architecture</li>
          </ul>
          <img src="./assets/images/algov2.png" style="width:93%; margin-left:-20px">
        </div>
        <div class="row" align="center">
          <img src="./assets/images/Turbofan3_Unlabelled.gif" style="width:60%; margin-left: 0px;">
        </div>
        <mat-tab-group>
          <mat-tab label="Digital Twin (Fan Degradation)">
            <br>
            <div class="row" style="overflow:hidden; width:90%">
              <div class="col-md-6"><button class="btn btn-success form-control" (click)="runAnalysis1()">Run
                  Model</button></div>
              <div class="col-md-6">
                <button class="btn btn-warning form-control" *ngIf="showButton" (click)="viewFanGraph()">Visualize
                  Results</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Digital Twin (Fan & HPC Degradation)">
            <br>
            <div class="row" style="overflow:hidden; width:90%">
              <div class="col-md-6">
                <button class="btn btn-success form-control" (click)="runAnalysis2()">Run
                  Model</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-warning form-control" *ngIf="showButton2" (click)="viewGraph()">Visualize
                  Results</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-md-6">
        <div class="row" *ngIf="showPredictedData">
          <ul>
            <li class="listHeader">Predicted Output</li>
          </ul>
        </div>
        <br>
        <div *ngIf="showPredictedData">
          <div class="row" align="center" *ngIf="showSpinner">
            <mat-spinner></mat-spinner>
            <p
              class="font-size:16px; font-family:Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:#000;">
              Running Ensemble Learning Model...</p>
          </div>
        </div>
        <div *ngIf="showPredictedData">
          <div class="row" *ngIf="showData">
            <div class="col-md-12">
              <div class="showPredictedData">
                <div class="row">
                  <div class="col-md-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Unit Number</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let results of unitNumber">
                        <tr>
                          <td style="text-align:center;">{{results | number }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Actual RUL</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let results of actual_rul">
                        <tr>
                          <td style="text-align:center;">{{results |number}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Predicted RUL</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let results of predicted_rul">
                        <tr>
                          <td style="text-align:center;">{{results | number}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Weighted Score</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let results of score">
                        <tr>
                          <td style="text-align:center;">{{results | number}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="content2" class="tab-content">
    <div class="row" style="margin-top:-20px">
      <div class="col-md-2">
        <div class="row">
          <ul>
            <li class="listHeader">Component Name</li>
            <li class="listBody">
              High Pressure Compressor
            </li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li class="listHeader">Asset Type</li>
            <li class="listBody">Jet Engine</li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <li class="listHeader" style="cursor:pointer" matTooltip="click to view all tag names"
              data-toggle="collapse" data-target="#demo">Tag Names</li>
            <li class="listBody">TOT_TEMP_LPC_OUT</li>
            <li class="listBody">STAT_PSI_HPC_OUT</li>
            <li class="listBody">RATIO_FUEL_FLOW_STAT_PSI_HPC_OUT</li>
            <li class="listBody">TOT_TEMP_LPT_OUT</li>
            <li class="listBody">TOT_PSI_HPC_OUT</li>
          </ul>
          <ul id="demo" class="collapse">
            <li class="listBody">BYPASS_RATIO</li>
            <li class="listBody">LPT_COOLANT_BLEED</li>
            <li class="listBody">HPT_COOLANT_BLEED</li>
            <li class="listBody">FAN_SPEED</li>
            <li class="listBody">BLEED_ENTHALPY</li>
            <li class="listBody">CORRECTED_FAN_SPEED</li>
            <li class="listBody">TOT_TEMP_HPC_OUT</li>
            <li class="listBody">CORE_SPEED</li>
            <li class="listBody">CORRECTED_CORE_SPEED</li>
            <li class="listBody">DEMANDED_CORRECTED_FAN_SPEED</li>
            <li class="listBody">PSI_FAN_INLET</li>
            <li class="listBody">TOT_TEMP_FAN</li>
            <li class="listBody">BURNER_FUEL_AIR_RATIO</li>
            <li class="listBody">ENGINE_PSI_RATIO</li>
            <li class="listBody">DEMANDED_FAN_SPEED</li>
            <li class="listBody">TOT_PSI_BYPASS_DUCT</li>
          </ul>
        </div>
        <div class="row" align="left">
          <button class="btn adButton" matTooltip="Click to run model" (click)="runAnomalyDetectionModel()">Run
            Model</button>
        </div>
        <br>
      </div>
      <div class="col-md-5">
        <div *ngIf="showAnomalySpinner" style="position:relative;z-index:9999" align="center">
          <mat-spinner></mat-spinner>
          <p style="font-size:12px; color:#000;"> Running Model....</p>
        </div>
        <div class="" *ngIf="showAdGraph" align="center">
          <mat-divider></mat-divider>
          <p style="font-size:12px; font-weight:400">{{title}}</p>
          <mat-divider></mat-divider>
          <google-chart #chart matTooltip="click to view full graph" matTooltipPosition='above' [type]="type"
            [data]="data" [columnNames]="columnNames" [options]="options"
            style="width:100%; height:300px; font-size:12px" (click)="showGraph()">
          </google-chart>
        </div>
        <div class="" align="center" *ngIf="showAdGraph">
          <mat-divider></mat-divider>
          <p style="font-size:12px; font-weight:400">{{title1}}</p>
          <mat-divider></mat-divider>
          <google-chart #chart1 matTooltip="click to view full graph" matTooltipPosition='above' [type]="type1"
            [data]="data1" [columnNames]="columnNames1" [options]="options1" style="width:100%; height:300px;"
            (click)="showGraph()">
          </google-chart>
        </div>
      </div>
      <div class="col-md-5" *ngIf="showAnomalyData">
        <ul>
          <li class="listHeader">Variable Importance</li>
        </ul>
        <div *ngIf="showAnomalySpinner" style="position:relative;z-index:9999" align="center">
          <mat-spinner></mat-spinner>
          <p style="font-size:12px; color:#000;"> Running Model....</p>
        </div>
        <mat-tab-group *ngIf="showAnomalyData">
          <mat-tab label="Convolutional-1D Autoencoder Model">
            <br>
            <div class="showAdDataColumn">
              <div class="col-md-4">
                <table class="table table-striped">
                  <thead class="table-head">
                    <th>Hybrid Rank Score</th>
                  </thead>
                  <tbody *ngFor="let element of adDta?.conv_hybrid_rank_score">
                    <tr>
                      <td>{{element | number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-8">
                <table class="table table-striped">
                  <thead class="table-head">
                    <th>Feature Name</th>
                  </thead>
                  <tbody *ngFor="let element of adDta?.conv_feature_name">
                    <tr>
                      <td style="word-break:break-all">{{element}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="Feedforward Autoencoder">
            <br>
            <div class="showAdDataColumn">
              <div class="col-md-4">
                <table class="table table-striped">
                  <thead class="table-head">
                    <th>Hybrid Rank Score</th>
                  </thead>
                  <tbody *ngFor="let element of adDta?.feedForward_hybrid_rank_score">
                    <tr>
                      <td>{{element | number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-8">
                <table class="table table-striped">
                  <thead class="table-head">
                    <th>Feature Name</th>
                  </thead>
                  <tbody *ngFor="let element of adDta?.feedForward_feature_name">
                    <tr>
                      <td style="word-break:break-all">{{element}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>

</div>